@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body header{
    background-image: url(Start-b-2000.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.orangehead{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 120px;
    padding-top: 10px;
    padding-left: 30px;
    background-color:#fe493100 ;
    z-index: 200;
    top: 0;

    #sppnn{
        display: flex;
        
       
        .ggg{
           font-size: 32px;
           color: white;
           margin-right: 5px ;
        }
        #ggt{
           font-size: 22px;
           font-weight: bold;
           color: white;
           
        }
       
        .sup{
           font-size: 6px;
           
        }
        #jigg{
           margin-top: 15px;
           color: white;
         
        }
       }
       
       .lister ul{
           display: flex;
           gap: 30px;
           list-style: none;
       }
       
       .lister ul li a{
           text-decoration: none;
           font-size: 18px;
           font-weight: 500px;
           font-family:'Roboto', sans-serif;
           color: white;
       }
       
       .jober{
        margin-left: 80px;
       }
       .joberc{
        font-size: 18px;
        font-weight: 600px;
        color: rgba(255, 255, 255, 0.518);
       }
}
.orangeheadd{
    position: relative;
    display: flex;
    align-items: center;
    gap: 120px;
    padding-top: 10px;
    padding-left: 30px;
    background-color:white ;
    z-index: 200;
    top:-100px ;

    #sppnn{
        display: flex;
        
    }  
        .ggg{
           font-size: 32px;
           color:black;
           margin-right: 5px ;
        }
        #ggt{
           font-size: 22px;
           font-weight: bold;
           color:black;
           
        }
       
        .sup{
           font-size: 6px;
           color: black;
           
        }
        #jigg{
           margin-top: 15px;
           color: black;
         
        }
       
       
       .lister ul{
           display: flex;
           gap: 30px;
           list-style: none;
       }
       
       .lister ul li a{
           text-decoration: none;
           font-size: 18px;
           font-weight: 500px;
           font-family:'Roboto', sans-serif;
           color: black;
       }
       
       .jober{
        margin-left: 80px;
       }
       .joberc{
        font-size: 18px;
        font-weight: 600px;
        color:rgba(0, 0, 0, 0.516);
       }
}

.try{
    position: sticky;
    width: 1000px;
    top: 120px;
    left:60px;
}

.jtb{
    position: absolute;
    font-size: 80px;
    color: white;
    font-family: 'Inclusive Sans', sans-serif;
    
}

.elj{
    position: absolute;
    top: 120px;
    width: 180px;
    height: 60px;
    border-radius: 50px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.searchjobs{
    position: sticky;
    background-color:#ff4632;
    width: max-content;
    height: 80px;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    padding: 0px 20px;
    top: 420px;
    left: 60px;
    z-index: 50;
    
}

.sjbs{
    width: 1000px;
    border: none;
    height: 80px;
    background-color: transparent;
    font-size: 20px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
}
.bz{
    padding: 5px 12px;
    font-size: 40px;
    color:black;
    background-color: white;
    border-radius: 100px;
    margin-right: 10px;
}
.bz:hover{
    padding: 5px 12px;
    font-size: 40px;
    color:white;
    background-color:transparent;
    border-radius: 100px;
    margin-right: 10px;
    border: 1px solid white;
}

.bibut{
    border: none;
    background-color: transparent;
   
}
.bii{
    font-size: 24px;
    color: rgba(255, 255, 255, 0.733);
}

.scfup{
    position: absolute;
    top: 0;
    height: 420px;
    left: 600px;
   
   
}

.scrolv1{
    height: max-content;
    color: black;
    width: 400px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 120px;
    padding: 20px;
}

.scrolv2{
    height: max-content;
    color: black;
    height: 150px;
    width: 400px;
    background-color:#ffcdd2;
    border-radius: 10px;
    margin-left: 120px;
    margin-bottom: 120px;
    padding: 20px;
}


.scrolv3{
    height: max-content;
    color: black;
    width: 400px;
    height: 150px;
    background-color: #c3f0c8;
    border-radius: 10px;
    margin-bottom: 120px;
    padding: 20px;
}


.scrolv4{
    height: max-content;
    color: black;
    width: 400px;
    height: 150px;
    background-color:#ffcdd2;
    border-radius: 10px;
    margin-left: 120px;
    margin-bottom: 120px;
    padding: 20px;
}
.scrolv5{
    height: max-content;
    color: black;
    width: 400px;
    height: 150px;
    background-color:#c3f0c8;
    border-radius: 10px;
    padding: 20px;
}
.pm{
    font-size: 24px;
}
.whitsec{
    background-color:white;
    position: sticky;
    top: 0px;
    z-index: 50;   
    border: 1px solid rgba(0, 0, 0, 0.258);
    border-radius: 15px;
}

.white-e{
    position: sticky;
    height: 500px;
    width: 100%;
    background-color: white;
    padding:0px 0px 0px 40px;
   
    

}
.white-f{
    position: sticky;
    height: 500px;
    width: 100%;
    background-color: white;
    padding:0px 0px 0px 40px;
    transition: all 50s linear;
    

}
.white-g{
    position: sticky;
    height:500px;
    width: 100%;
    background-color: white;
    padding:0px 0px 0px 40px;
    transition: all 1s linear;
    scroll-behavior: smooth;
 
}


.ttsp{

    padding:20px 0px 0px 40px;
    height: 60px;
    background-color:white;
}

.fig{

    font-size: 24px;
    padding: 3px 12px;
    border-radius: 100px;
    border: 1px solid black;
    margin-right: 10px;
}
.figt{
    font-size: 24px;
   
}

.whit1i{
    position: absolute;
    top: 60px;
    left: 100px;
    height: 400px;
    width: 380px;
    border-radius: 20px;
}
.whiteh1{
    position: absolute;
    left: 580px;
    top: 150px;
    font-size: 47px;
    font-weight: 500;
}

.whtp{
    position: absolute;
    width: 550px;
    left: 580px;
    top: 200px;
    
}

.whitep{
    
   
    font-size: 24px;
    
}

.whiteb{
    position: absolute;
    top: 350px;
    left: 580px ;
    width: 220px;
    height: 60px;
    background-color: black;
    color: white;
    border-radius: 50px;
    border:none;
    font-weight: 600;
}
.bluebackground{
    position: relative;
    height: 800px;
    width: 100%;
    background-color: #5674c9;
    z-index: 100;
}
.fjob{
    padding-top: 100px;
    font-size: 55px;
    font-weight: 500px;
}

.car1{
    height: 500px;
    width: 400px;
    background-color:rgb(195, 240, 200);
    border-radius: 20px;
    border: none;
}
.car2{
    height: 500px;
    width: 400px;
    background-color:rgb(195, 240, 200);
    border-radius: 20px;
    border: none;
}
.car3{
    height: 500px;
    width: 400px;
    background-color:rgb(195, 240, 200);
    border-radius: 20px;
    border: none;
}
.car4{
    height: 500px;
    width: 400px;
    background-color:rgb(195, 240, 200);
    border-radius: 20px;
    border: none;
}
.car5{
    height: 500px;
    width: 400px;
    background-color:rgb(195, 240, 200);
    border-radius: 20px;
    border: none;
}

.carousel-inner{
   position: absolute;
   left: 220px;
   
}
.carousel{
  position: absolute;
  top: 50px;
  width: 820px;
  left: 220px;
 
}

.headb{
    position:absolute;
    height: 45px;
    width: 150px;
    top: 30px;
    left: 120px;
    background-color:rgba(216, 242, 218, 0.783) ;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 500px;
}

.pr{
    position: absolute;
    top: 100px;
    left: 125px;
    font-size: 35px;
    color: rgb(35, 35, 35);
}
.au{
    position: absolute;
    top: 150px;
    left: 35px;
    font-size: 32px;
    color: rgb(70, 70, 70);
}
.city{
    position: absolute;
    top: 435px;
    left: 160px;
    font-size: 18px;
    color: rgb(29, 29, 29);
}

.nexter{
    position: relative;
    height: 600px;
    /* width: 100%; */
    background-color: #ffffff;
    z-index: 100;

}
.nowdiv{
    position: absolute;
    width: 580px;
    top: 150px;
    left: 370px;
}
.hte{
    position: absolute;
    font-size: 55px;
    font-weight: 400;
    text-align: center;
   
    
}
.aig{
    position: absolute;
    top: 80px;
    text-align: center;
    font-size: 25px;
    font-weight: 100px;
    color: #3a3a3a;
   
}
.imnn1{
    position: absolute;
    bottom: 50px;
    right: 120px;
   
}
.imn2{
    position: absolute;
    top: 150px;
    left: 50px
   
}
.sal{
    position: absolute;
    height: 60px;
    top: 420px;
    left:580px;
    width: 180px;
    background-color: black;
    border: none;
    border-radius: 50px;
    color: white;
    font-size: 18px;
    font-weight: 400;
   
}

.marquee{
    width:100%;
     position: relative;
    height: 800px;
    background-color:white;
    z-index: 100;
    animation-name: marguee;
    animation-duration: 1s;
    animation-timing-function: linear;
    
    
   
}

.marg{
    position: relative;
    display: flex;
    gap: 68px;
    padding: 20px 0px;
    transition: all 20s linear;
}

.imk{
    height: 130px;
    border-radius: 20px;
}
.sep{
    display: flex;
    align-items: center;
    gap: 30px;
}

  

.sept{
    font-size: 85.7143px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

 }

 .sep:hover{
   
     .imk{
        height: 140px;
     }
     
     .sept{
        font-size: 85.7143px;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-style: oblique;

 }
 }

.pink{
    position: sticky;
    height: 800px;
    width: 100%;
    z-index: 100;
    background-color: #feccd1;

}
.frscont{
    position: absolute;
    top: 50px;
    left: 490px;
    font-size: 45px;

}
.pcontent{
    position: absolute;
    top:150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    left: 5px;
}


.threegreen{
    position: relative;
    height: 500px;
    width: 400px;
    background-color:#006450;
    border-radius: 20px;
    align-items: center;
    text-align: left;
    transition: all 3s ease ;
    cursor: move;
    
    
}
.threegreen:hover .drag{
    display: block;
   
}
.it1{
    position: absolute;
    font-size: 32px;
    top: 50px;
    left: 30px;
    color: white;
    width: 370px;
}
.bht{
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 30px;
    gap: 10px;
    font-size: 20px;
    align-items: center;
    font-weight: 400;
    color: white;
}
.arrowbut{
    background-color: transparent;
    border: none;
}
.arrow{
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 100%;
    background-color: white;
    color: black;
   
    
}
.arrow:hover{
    color: white;
    font-size: 24px;
    border-radius: 100%;
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid white;
    
}
.drag{
    position: absolute;
    bottom: 150px;
    left: 150px;
    padding:25px 20px;
    background-color: black;
    border-radius:100%;
    color: white;
    display: none;
   
}

.dismore{
    top: 700px;
    left: 550px;
    align-items: center;
    position: absolute;
    height: 60px;
    width: 180px;
    color: white;
    border-radius:50px;
    font-weight: 500;
    background-color: black;
}

.dismore:hover{
    top: 700px;
    left: 550px;
    align-items: center;
    position: absolute;
    height: 60px;
    width: 180px;
    color:black;
    border-radius:50px;
    font-weight: 400;
    background-color: transparent;
    border: 1px solid black;
   
}
.whitequickclick{
    position: sticky;
    top: 0px;
    height: 800px;
    width: 100%;
    z-index: 100;
    background-color:white;
    
}
.qc{
    position: absolute;
    top: 50px;
    left: 540px;
}
.witcont{
    position: absolute;
    top: 100px;
    left: 90px;
   
}

.arrowqc{
 
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 40px;
    margin: 40px 0px;
    justify-content: space-between;
    height: 120px;
    width: 1100px;
    border: 1px solid rgba(0, 0, 0, 0.167);
    background-color: white;
    border-radius: 100px;
    
}
.cele1{
    color: rgba(53, 53, 53, 0.669);
    font-size: 28px;
}
.cele2{
    color: black;
    font-size: 28px;
}
.arn{
   
    padding: 12px 20px;
    border-radius: 100%;
    font-size: 30px;
    color: white;
    background-color: #000000;
    transition: 1s;
}

.arrowqc:hover{
   
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 40px;
    justify-content: space-between;
    height: 120px;
    width: 1100px;
    border: 1px solid rgba(0, 0, 0, 0.701);
    background-color: white;
    border-radius: 100px;
    
    .arn{
        padding: 12px 20px;
        border-radius: 100%;
        font-size: 30px;
        border: 1px solid black;
        background-color: transparent;
        color: black;
        margin-right: 10px;
    }
}

.blackend{
    position: relative;
    height: 1250px;
    width: 100%;
    z-index: 100;
    background-color: black;
}

.imgb{
    position: absolute;
    left: 580px;
    top: 180px;
}
.vtext{
    position: absolute;
    color: white;
    top: 330px;
    left: 510px;
    font-size: 45px;

}
.btext{
    position: absolute;
    color: white;
    top: 450px;
    left:380px;
    width: 520px;
    font-size: 24px;
    text-align: center;

}

.butj{
    display: flex;
    position: absolute;
    top: 600px;
    left: 460px;
    gap: 30px;
   
}
.edb{
    height: 60px;
    width: 180px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid white;
}



.blackfooter{
    position: absolute;
    bottom: 200px;
    display: flex;
    gap: 210px;
    left: 60px;
      
    .hh3{
        color: white;
        font-size: 18px;
    }
   
}

.footing p{
    font-size: 14px;
}

.footing p:hover{
    color: white;
}

.overd{
    position: relative;
}


.spbaa{
    position: absolute;
    bottom: 50px;
    display: flex;
    gap: 40px;
    left: 50px;
    .al{
        font-size: 13px;
       
    }
}
.sppa{
    display: flex;
    gap: 50px;
}

.quest{
  
    display: flex;
    position:fixed;
    /* z-index: px; */
    bottom: 0px;
    right: 30px;
    cursor: pointer;
    gap: 10px;
    align-items: center;
}
.quest:hover .questt{
   display: block;
   
   
}
.questimg{
    height: 50px;
    width:50px;
    display: flex;
    align-items: center;
}
.questt{
   
    align-items: center;
    background-color: white;
    width: 180px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    display: none;
}